@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home Page</h1>
</div>

@using (Html.BeginForm("Index", "GymTracker", FormMethod.Get))
{
    <input type="submit" class="main-button" value="Gym Tracker Overview">
}
